<main>
  <h1>{{cube.cubeName}}</h1>
  <img class="cube"
    src="{{cube.cubeImgUrl}}">
  <div class="details">
    <p><span>Description:</span> {{cube.cubeDesc}}</p>
    <p><span>Difficulty level:</span> {{cube.cubeDiff}}</p>
    <a class="btn" href="/">Back</a>
  </div>
</main>